.supr-hr {
  color: black;
  width: 140px;
  opacity: 1;
  margin: 0.5rem 0;
}

.supr-checkmark {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: $primary-green;
  border: 1.5px solid $dark-green;
  padding-bottom: 1px;
  border-radius: 100%;
  transform: rotate(45deg);

  &.position-absolute {
    position: absolute;
    top: -9px;
    right: -9px;
    z-index: 2;
  }
}
.pick-meals .supr-checkmark.position-absolute {
  top: -10px;
  right: 2px;
}

.supr-checkmark_stem {
  position: absolute;
  width: 2px;
  height: 11px;
  background-color: #ffffff;
  left: calc(50% + 1px);
  top: calc(50% - 8px);
  border-radius: 2px;
}

.supr-checkmark_kick {
  position: absolute;
  width: 7px;
  height: 2px;
  background-color: #ffffff;
  left: calc(50% - 4px);
  top: calc(50% + 2px);
  border-radius: 2px;
}

.supr-checkmark--dark {
  .supr-checkmark_stem,
  .supr-checkmark_kick {
    background-color: #000000;
  }
  &.supr-checkmark {
    background-color: white;
    border-color: #000000;
  }
}

.supr-stepper {
  background-color: $xlight-grey;
  padding: 16px;
  border-bottom: 1px solid #29272633;
}
.supr-stepper .step {
  cursor: pointer;
  user-select: none;
}
.supr-stepper .step-number {
  text-align: center;
  width: 24px;
  height: 24px;
  font-weight: 600;
}
.supr-landing-bg {
  top: 440px;
  left: -50%;
  width: calc(100% - 128px);
  transform: translate(50%, 0);
  min-height: 60vh;
  z-index: -1;
  margin: 0 128px;
  height: 80%;

  @media screen and (max-width: 991px) {
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0, 0);
    margin: 0;
  }
}
.supr-meal-carousel {
  @media screen and (max-width: 768px) {
    width: 322px;
  }
  .carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1;
  }
  .carousel-control-next {
    transform: translateX(50%);
    opacity: 1;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #ffffff;
    border: 1px solid $text-primary;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.20016 8L10.3335 14.1333L8.46683 16L0.46683 8L8.46683 -1.63189e-07L10.3335 1.86667L4.20016 8Z" fill="%23292726"/></svg>');
    background-size: 12px;
  }
  .carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.80008 8L0.666748 1.86667L2.53341 0L10.5334 8L2.53341 16L0.666748 14.1333L6.80008 8Z" fill="%23292726"/></svg>');
    background-size: 12px;
  }
}

.meal-builder-app .toast.show {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
